{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style-about.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css.map' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js.map' %}"></script>

    <title>Sobre nós</title>
</head>

<body class="fundo-1">

    <!--NAVBAR-->
    <nav class="navbar navbar-expand-lg navbar-light fixed fundo-2">
        <div class="container ">
            <a class="navbar-brand" href="#">
                <img src="{% static 'images/logo.png' %}" width="140px">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto menu ">
                    <li class="nav-item">
                        <a class="nav-link  text-dark" href="/">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-dark" href="#">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" href="#">Equipe</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark sobre" href="about">Sobre Nós</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item btn-contato">
                        <a href="#">Contato</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--HEADER-->
    <header>
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="capa" src="{% static 'images/capa.png' %}">
                    <h1 class="titulo-principal">Sobre nós</h1>
                </div>
            </div>
        </div>
    </header>

    <!--SELECTION-->
    <section class="centralizar">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h1 class="titulo-secundario">Quem somos?</h1>

                    <p class="texto-info">Somos a HandCode uma união de alunos matriculados em cursos de graduação em instituições de ensino superior, com o intuito de realizar projetos e serviços que contribuam para o desenvolvimento do país e de formar profissionais capacitados
                        e comprometidos.</p>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <h1 class="titulo-secundario">Qual o objetivo da HandCode?</h1>
                    <p class="texto-info">É desenvolver pessoal e profissionalmente os seus membros por meio da vivência empresarial, realizando projetos e serviços na área de atuação do curso de graduação ao qual a empresa júnior for vinculada.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h1 class="titulo-secundario">A HandCode busca:</h1>
                </div>
                <div class="col-4">
                    <img class="imagem-linha" src="{% static 'images/linha.png' %}">
                    <img class="imagem-nave" src="{% static 'images/nave.png' %}">
                    <p>
                        Crescimento de nossos clientes.
                    </p>
                </div>
                <div class="col-4">
                    <img class="imagem-linha" src="{% static 'images/linha.png' %}">
                    <img class="imagem-nave" src="{% static 'images/nave.png' %}">
                    <p>
                        Inspirar mudanças.
                    </p>
                </div>
                <div class="col-4">
                    <img class="imagem-linha" src="{% static 'images/linha.png' %}">
                    <img class="imagem-nave" src="{% static 'images/nave.png' %}">
                    <p>
                        Tranformar pessoas.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!--RODAPÉ-->
    <footer>

    </footer>

</body>

</html>