{% extends 'base.html' %}
{%load static%}

{% block title %} HandCode {% endblock %}

{% block content %}
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-12 col-lg-12 col-xl-8 ">
                    <div class="center ">
                        <h1 class="text-header animate__animated animate__bounceInLeft">O software que a sua empresa precisa!</h1>
                        <div class="btns ">
                            <a href="/#contato" class="btn-contato">Contrate-nos</a>
                            <a href="/servicos/" class="btn-contato">Nossos serviços</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 ">
                    <img class="banner" src="{% static 'images/banner.png' %}" />
                </div>
            </div>
        </div>
    </header>
    <section class="services">
        <div class="container">
            <h3>Serviços</h3>
            <p>Qual a sua necessidade?</p>
            <div class="container">
                <div class="row">
                    <div class="card-services  col-xl-3">
                        <img src="{%static 'images/landingPages.png' %}">
                        <h3>Landing Pages</h3>
                        <a class="btn-contato" href="/servicos/">Saber Mais</a>
                    </div>
                    <div class="card-services col-xl-3">
                        <img src="{% static 'images/aplicativos.png' %}">
                        <h3>Aplicativos</h3>
                        <a class="btn-contato" href="/servicos/">Saber Mais</a>
                    </div>
                    <div class="card-services col-xl-3">
                        <img src="{% static 'images/sistemas.png' %}">
                        <h3>Sistemas</h3>
                        <a class="btn-contato" href="/servicos/">Saber Mais</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="tecnologias">
        <div class="container">
            <h3>Tecnologias</h3>
            <div class="row">
                <div class="card-tecnologias  col-xl-3">
                    <img src="{% static 'images/javascript.png' %}">
                    <h3>JavaScript</h3>
                </div>
                <div class="card-tecnologias  col-xl-3">
                    <img src="{% static 'images/bootstrap.png' %}">
                    <h3>Bootstrap</h3>
                </div>
                <div class="card-tecnologias  col-xl-3">
                    <img src="{% static 'images/python.png' %}">
                    <h3>Python</h3>
                </div>
                <div class="card-tecnologias  col-xl-3">
                    <img src="{% static 'images/node.png' %}">
                    <h3>Node Js</h3>
                </div>
            </div>
            <a class="btn-tecnologias" href="/servicos/">Saber Mais</a>
        </div>
    </section>
    <section class="parceiros">
        <div class="container">
            <h3>Nossos Parceiros</h3>
            <div class="row">
                <div class="card-parceiros  col-xl-4">
                    <img src="{% static 'images/uespi.png' %}">
                </div>
                <div class="card-parceiros  col-xl-4">
                    <img src="{% static 'images/brasilJunior.png' %}">
                </div>
                <div class="card-parceiros  col-xl-4">
                    <img src="{% static 'images/Piauijr.png' %}">
                </div>
            </div>
        </div>
        </div>
    </section>

    <section id="contato" class="contato">
        <h3>Contato</h3>
        <div class="container">
            <form action="{%url 'home'%}" method="POST"> {%csrf_token%}
                <input name="email" type="email" placeholder="E-mail" class="input" />
                <textarea name="mensagem" placeholder="Mensagem" class="input"></textarea>
                <input type="submit" class="btn-contato">
            </form>
        </div>
    </section>
{% endblock %}