* {
    font-family: 'Athiti', sans-serif;
}

/*NAVBAR*/
.nav-item {
    margin-right: 10px;
}

.equipe {
    border-bottom: #440D7B solid 2px;
    color: #440D7B;
}

.btn-contato {
    background-color: #440D7B;
    color: #fff;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 23px;
}

.btn-contato a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}

.nav-link {
    font-weight: bold;
    font-size: 17px;
}

@media only screen and (max-width: 768px) {
    .banner {
        display: none;
    }
    .center h1 {
        text-align: center;
    }
}

/*CARD EQUIPE*/
.team{
    background-color: #1f1e20;
    display: flex;
}
.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

footer p a {
    margin: 5px 15px;
}

body{
	background-color: #1f1e20;
}

h1{
	color: white;
}

.team i{
	font-size: 30px;
	color: white;
}

.team h3, h5{
	color: white;
}

.team .card{
	border-radius: 15px;
	background-color: #440D7B;
}

/*FOOTER*/
footer{
    
    background-color: #fff;
    display: flex;
    text-align: center;
}