html {
    scroll-behavior: smooth;
}
*{
    font-family: 'Athiti', sans-serif;
}
/*  NAV BAR CSS*/
.nav-item{
    margin-right: 10px;
}
.inicio{
    border-bottom: #440D7B solid 2px;
    color: #440D7B;
}
.btn-contato  {

    background-color: #440D7B;
    color: #fff;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    border-radius: 23px;
    border: none;
    font-weight: bold;
   
}
.btn-contato:hover{
    color: #fff;
    text-decoration-line: none;
}
.btn-contato a{
    color: #fff;
    font-weight: bold;
    text-decoration: none;
   
}

.nav-link{
    
    font-weight: bold;
    font-size: 17px;
}


/* FIM */
.header{
    background-color: #1f1e20;
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
  
 
}
.text-header{
    
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
}
.col-sm-8{
    color: #fff;
    display: flex;
    justify-content: start;
    
    align-items: center;
    
}
.btns{
    display: flex;
}
.btns a{
    margin: 5px;
    font-weight: bold;
    font-size: 15px;
}
.banner{
  width: 559px;
  height: 60vh;
  position: absolute;
  top: -133px;
  right: -103px;
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services{
    background-color: #1f1e20;
    width: 100%;
    display: flex;
    height: 100%;
    color: #fff;
    padding-bottom: 40px;
}

.services h3{
    font-weight: bold;
    font-size: 30px;
}
.services p {
    color:#625C5C;
    font-weight: bold;
}
.services .container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
}

.services .container .row{
    width: 100%;
    
    height: auto;
}

.card-services{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 17px;
    width: 10px;
    height: 200px;
    margin: 40px;
    color: darkblue;
}

.card-services img{
    width: 90px;
}
.card-services h3{
    color: #000;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 12px;                                                                    
}

.tecnologias{
    background-color: #440D7B;
    height: 100%;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
.tecnologias h3{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 50px;
}
.tecnologias .container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
}


.tecnologias .container .row{
    width: 100%;
    
    height: auto;
}
.card-tecnologias{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.card-tecnologias img{
    width: 90px;
}
.card-tecnologias h3{
    font-size: 18px;
    margin-top: 13px;
}
.btn-tecnologias{
    background-color: #fff;
    color: #440D7B;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;

}
.parceiros{
    background-color: #1f1e20;
    width: 100%;
    display: flex;
    height: 100%;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 40px;
}
.parceiros h3{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}
.parceiros .container{
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    width: 100%;
  
}


.parceiros .container .row{
    width: 100%;
    
    height: auto;
}
.card-parceiros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}
.card-parceiros img{
    width: 130px;
}

.contato{
    background-color: #1f1e20;
    text-align: center;
    width: 100%;
    height: 100%;
    color: #fff;
    padding-top: 50px;
    padding-bottom: 30px;
}
.contato form {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.input{
    width: 60%;
    margin: 10px;
    border: #440D7B 3px solid;
    border-radius: 6px;
    padding-left: 5px;
    font-size: 18px;
     
}
::-webkit-input-placeholder {
    color: #1F1E20;
    font-weight: bold;
    text-align: center;
 }
.contato h3{
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 30px;
}

/* Inicio footer*/

footer{
    
    background-color: #fff;
    height: 100%;
  
  
}
footer .container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}
footer .container .row{
   
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    margin-top: 20px;
}
.logo-footer{
    width: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
.text-footer{
    font-size: 1.2em;
    font-weight: bold;
    color: black;
    text-decoration-line: none;
}

.col{
    display: flex;
    flex-direction: column;
    height: 100px
    
}
.col a{
    color: #000;
    font-size: 17px;
}
.col a:hover{
    text-decoration: none;
    color: #000;
}
.row-icons{
    display: flex;
    justify-content: center;
}

.link-icons {
    color: #000;
}
.link-icons:hover{
    color: #000;
}
.row-icons i{
    padding: 10px;
    font-size: 20px;
    
}
#copyright{
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
}

/*  Final footer */
@media only screen and (max-width: 768px)  { 
    .banner{
       display: none;
    }
    .center h1{
        text-align: center;
    }
    .center{
        justify-content: center;
        flex: 1;
        align-items: center;
    }
   
 }

 @media (max-width: 1068px){
     .banner{
         display: flex;
         width: 100%;
         height: auto;
         left: 666px;
     }
 }


 @media (max-width:1024px) {
    .banner{
       
        display: none;
        
     }
     .center{
         width: 100vh;
     }
     .center h1{
         text-align: center;
     }
     
     
 }
